*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

main{
    padding-bottom: 22px;
}

body{
    background-color:rgb(18, 18, 18);
}

.mobile_header{
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
    height: 56px;
}

.spflex{
    display: flex;
    justify-content: space-between;
}

.opap{
    background-color: white;
    padding: 4px 16px;
    color: black;
    border: none;
    border-radius: 9999px;
    font-family: "spotifybold";
    font-weight: 700;
    min-height: 32px;
    position: relative;
    bottom: 4px;
    width: fit-content;
    will-change: transform;
}

.floatingbox>*{
    background-color:  rgb(42, 42, 42);
}

.col-flex{
    display: flex;
    flex-direction: column;
}

.row-flex{
    display: flex;
}

.floatingbox
{
    background-color: rgb(42, 42, 42);
    padding: 16px;
    row-gap: 8px;
    margin: 16px 16px 0;
    border-radius: 16px;
}

.flb_line1>svg:first-child{
    height: 20px;
    width: 76;
}

.flb_line1>svg:nth-child(2){
    width: 17px;
    position: relative;
    left: 3px;
    bottom: 3px;
}

.flb_line2{
    margin-top: 12px;
    font-family: 'spotifyregular';
    color: white;
    font-weight: 700;
    text-wrap-style: balance ;
    font-size: 20px;
}

.flb_line3,.flb_line3>*{
    color: rgb(147, 147, 147);
    font-family: 'spotifyregular2';
}

.flb_line4{
    margin-top: 12px;
}

.line4-1{
    background-color: rgb(30, 215, 96);
}

.line4-2{
    background-color: rgb(42, 42, 42);
    color: white;
    left: -0.4px;
}

.restofthetext,.restofthetext>*{
    margin-top: -4px;
    font-size: 11px;
}

.scrollbar_container{
    color: white;
    width: 100%;
    position: relative;
}

.subhead{
    margin:24px 0 12px 16px;
}

.scrollbar{
    display: flex;
    padding: 0 16px;
    gap: 16px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.scrollable{
    padding: 8px 0;
    gap: 8px;
}

.scrollable-img{
    background: var(--bg_img) no-repeat center/cover;
    border-radius: 4px;
    width: 152px;
    aspect-ratio: 1/1;
}

.scrollable-text{
    font-size: 16;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: pretty;
    text-overflow: ellipsis;
}

.reg2text{
    font-family: 'spotifyregular2';
}

.footer{
    padding: 8px 16px 40px;
    background-color:rgb(18, 18, 18);
    color: white;
    font-family: 'spotifyregular2';
    color: rgb(179, 179, 179);
}

.footerflex1{
    margin: 32px 0 40px 0;
}

.categories,.footerflex1{
    gap: 40px;
}

.footerflex1 *{
    font-size: 16px;
}

.company,.communities,.links,.plans{
    gap: 8px;
}

.fhead{
    font-weight: 700;
    color: white;
    font-family: "spotifybold";
}

.social>*{
    height: 40px;
    aspect-ratio: 1/1;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
}

.footer-rule{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    margin-bottom: 38px;
}

.speciallinks{
    display: inline-block;
    margin-bottom: 10px;
}

.copyright,.speciallinks{
    font-size: 14px;
}

.copyright{
    margin-top: -2px;
}

.c-gap-16{
    column-gap: 16px;
}

.otherlinks{
    flex-wrap: wrap;
}

.language{
    margin-top: 16px;
    background-color: black;
    color: white;
    font-family: "spotifybold";
    border: 1px solid rgb(124, 124, 124);
    border-radius: 9999px;
    gap: 8px;
    padding: 6px 16px 6px 12px;
}

.footer-sticky{
    background: linear-gradient(to bottom, rgba(0,0,0,0.80) 50%,rgba(0,0,0,0.9) 50%);
    height: 70px;
    position: sticky;
    bottom: 0;
}

.footersticky-content{
    width: 25%;
    row-gap: 5px;
}

.footersticky-text{
    font-size: 11px;
    color: rgb(179, 179, 179);
    font-family: "spotifyregular";
}

.active-selection>*{
    color: white;
}

.fullalign-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.valign-center{
    display: flex;
    align-items: center;
}

.boldtext{
    font-family: "spotifybold";
}

.pconly, .bigpconly{
    display: none;
}

.gap-8px{
    gap: 8px;
}

.transofrm{
    will-change: transform;
}

.shadowcontainer{
    position: relative;
}

.shadowl::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: linear-gradient(90deg, rgba(18, 18, 18, 0.7) 0px, rgba(0, 0, 0, 0) 100%);
}

.shadowr::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 4;
    background: linear-gradient(-90deg, rgba(18, 18, 18, 0.7) 0px, rgba(0, 0, 0, 0) 100%);
}

@font-face {
    font-family: "spotifybold";
    src: url(assets/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
@font-face {
    font-family: "spotifyregular";
    src: url(assets/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

@font-face {
    font-family: "spotifyregular2";
    src: url(assets/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}


@media screen and (min-width:768px){
    .categories{
        flex-flow: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .categories>*{
        width: 40%;
    }
}

@media screen and (min-width:1024px){
    body{
        display: grid;
        grid-template-columns: 360px 1fr;
        grid-template-rows: 56px 1fr 82px;
        background-color: black;
        padding: 8px 8px 0;
        column-gap: 8px;
    }

   .mobonly{
    display: none;
   }

   .spflex{
    align-items: center;
    justify-content: flex-start;
   }

   .pconly{
    display: inherit;
   }

   .sidebar{
     display: flex;
     justify-content: space-between;
     grid-row: 2;
     grid-column: 1;
     background-color: rgb(18,18,18);
   }

   .navhead{
    padding: 19px 25px 8px 20px;
    margin-bottom: 14px;
    justify-content: space-between;
   }

   .nbr1{
    row-gap: 24px;
   }

   .navbox{
    background-color: rgb(31, 31, 31);
    margin: 0 8px;
    padding: 16px 20px;
   } 

   .navbox>button{
    margin-top: 12px;
   }

   main{
    grid-row: 2;
    grid-column: 2;
    overflow-x: hidden;
    border-radius: 8px;
    background-color: rgb(18,18,18);
    position: relative;
   }

   main::before{
    content: '';
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(81, 81, 81, .25) 0, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 256px;
    z-index: 0;
   }

   main::-webkit-scrollbar{
    display: none;
   }

   .mobile_header{
    padding: 0 0 0 20px;
    height: 48px;
    grid-row: 1;
    grid-column: 1 / -1;
   }

   .headicon{
    margin-left: 28px;
    gap: 8px;
    flex-grow: 1;
   }

   .headicon>*{
    height: 48px;
    background-color: #1f1f1f;
   }

   .pc_header{
    gap: 8px;
   }

    .verticalline{
        height: 25px;
        border: 0;
        border-right: 1px solid white;
        margin: 0 16px; 
    }

   .pclogin{
    height: 48px;
    padding: 8 32px;
    font-size: 16px;
   }

   .headingtext{
    font-family: "spotifybold";
    font-size: 16px;
    font-weight: 700;
    color: rgb(179, 179, 179);
    will-change: transform;
   }

   .headtext2:nth-child(5){
    padding-right: 24px;
   }

   .headtext2>svg{
    margin: 0 8px 0 12px;
   }

   .headtext2{
    padding-right: 8px;
   }

   .footer-sticky{
        height: 82px;
        padding: 8px 0;
        grid-row: 3;
        grid-column: 1 / -1;
        background: black;
   }

   .footerc1{
    row-gap: 1px;
   } 

   .pcsticky{
    width: 100%;
    justify-content: space-between;
    padding: 11px 24px 6px 15px;
    background:  linear-gradient(90deg, rgb(175, 40, 150), rgb(80, 155, 245));
   }

   .footersubtext:first-child{
    margin-top: 1px;
   }

   .footersubtext:last-child{
    margin-top: -1px;
   }
   
   .footersubtext:last-child,.navtext2{
    font-family: 'spotifyregular2';
    font-size: 16px;
    font-weight: 400;
   }

   

    .navsubhead{
        color: white;
    }

    .roundborder{
    border-radius: 8px;
    }

    .navtext2,.navbutton,.language,.headtext2,.footersubtext,.showall{
        font-size: 14px;
   }

   .language{
    padding: 5 16 5 12 ;
    margin-top: 33px;
    background-color: transparent;
    will-change: transform;
   }

   .opap{
    position: initial;
   }

   .nbr2{
    padding: 40px 40px 32px 24px;
    color: rgb(179, 179, 179);
    font-family: 'spotifyregular2';
   }

   .cookie{
    color: white;
    font-size: 12px;
    margin: 5px 0 0px 0;
   }

   .speciallinks{
    font-size: 11px;
    margin: 7px 0;
   }

   .subhead{
    margin: 23px 48px 12px 40px;
    font-size: 24px;
    justify-content: space-between;
    align-items: flex-end;
    will-change: transform;
   }

   .scrollbar{
    will-change: transform;
    padding-left: 40px;
    gap: 24px;
    margin-bottom: 40px;
   }

   .showall{
    font-family: 'spotifybold';
    color: rgb(179, 179, 179);
    margin-bottom: -1px;
   }

   .scrollable-img{
    width: 153.72px;
   }

   .subhead,.scrollable{
    z-index: 2;
   }

   .social{
    width: 152px;
   }

   .categories{
    width: 100%;
    column-gap: 0;
   }

   .categories>*{
    width: calc(20% + 24px);
    flex-wrap: wrap;
    padding-right: 24px;
   }

   .footerflex1{
    flex-flow: row;
    gap: 0;
   }

   .footer{
    padding: 8px 32px 19px;
   }

   .communities{
    word-break: break-all;
   }

   .footer-rule{
    margin-bottom: 42px;
   }

   .footer-rule1{
    margin: 100px 0 25px 0;
   }

   .scrollable-text2{
    font-size: 14px;
    color: rgb(179, 179, 179);
    vertical-align: middle;
    font-family: 'spotifyregular2';
    margin-top: -4px;
    }

    .shadowcontainer:nth-child(2)>.scrollbar 
    {
        margin-bottom: 37px;
    }
    
    .shadowcontainer:nth-child(6)>.scrollbar 
    {
        margin-bottom: 38px;
    }

    .shadowcontainer:nth-child(8)>.scrollbar 
    {
        margin-bottom: 39px;
    }
    
    .shadowcontainer:nth-child(2)>.scrollbar .scrollable-text2{ 
        vertical-align: -webkit-baseline-middle;
        line-height: 1.6;
    }

    .scrollable-img{
        border-radius: 6px;
    }
}

@media screen and (min-width:1440px){ 
    body{
        display: grid;
        grid-template-columns: 420px 1fr;
        grid-template-rows: 56px 1fr 82px;
    } 

     .mainnavhead{
        will-change: auto;
    }

    .searchbar{
        position: relative;
        border-radius: 500px;
        padding-right: 5px;
    }

    .searchicon{
        position: absolute;
        left: 12px;
    }

    .bigpconly{
        display: initial;
    }

    .searchtext{
        margin-left: 48px;
        background-color: transparent;
        border: 0;
        text-wrap: nowrap;
        color: rgb(170, 170, 170);
        font-family: 'spotifyregular2';
        font-size: 16px;
    }

    .collectionicon{
        position: relative;
        transform: translateY(0.4px);
    }

    .cicontainer{
        padding: 0  11px 0 12px;
        margin-left: 181px;
        border-left: 1px solid rgb(140, 140, 140);

    } 

    .footer{
        will-change: transform;
        padding-bottom: 18px;
    }
}

@media screen and (min-width:1900px){
    .scrollable-img,.scrollable-text{
        width: 171.5px;
   }
   
    .headicon{
        justify-content: center;
        margin-left: 0;
        position: absolute;
        transform: translate(calc(50vw - 50% - 27px));
    }

    .pc_header{
        margin-left: auto;
    } 
}

@media screen and (min-width: 2560px){
    .subhead{
        margin:23px 128.5px 12px 120.5px;
        transform: translatex(-0.4px);
        will-change: transform;
    }

    .scrollbar{
        position: relative;
        transform: translateY(0.165px);
        will-change: transform;
    }

    .shadowcontainer>.scrollbar{
        padding-left: 120.5px;
        margin-bottom: 47px;
    }

    .footerflex2>.copyright{
        margin-top: -0.02px;
    }
    
    .shadowcontainer:nth-child(2)>.scrollbar{
        margin-bottom: 45.5px;
    }
    
    .shadowcontainer:nth-child(6)>.scrollbar{
        margin-bottom: 47px;
    }

    .shadowcontainer:nth-child(8)>.scrollbar{
        margin-bottom: 46.5px;
    }

    .placeholder{
        background-color: rgb(51, 51, 51) !important;
    }

    .placeholder *{
        height: 64px;
        width: 64px;
        color: white;
        fill: white;
    }

    .headicon{
        margin-left: -1px;
    }

    .footer-rule{
        margin-bottom: 40px;
    }

    .footer-rule1{
        margin:100.5px 0 24px 0;
    }

    .footer{
        padding-bottom: 18px;
        will-change: transform;
    }
}